<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/image/lewlew-96.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/tailwind-output.css">
  <link rel="stylesheet" href="/css/custom.css">

  <title>LewLew App</title>
</head>

<body>
  <div class="relative flex items-start justify-between min-h-screen">
    <lew-menu template="/component/menu/menu.html" source="/api/menu.json"></lew-menu>
    <div class="flex flex-col text-gray-600 md:space-y-4 sm:ml-40 lg:ml-60 xl:ml-80 w-full">
      <wc-toolbar template="/component/toolbar/toolbar.html" source="/component/toolbar/toolbar.json"></wc-toolbar>
      <main id="app" class="p-4"></main>
    </div>
  </div>
  </main>

  <script type="module" src="/js/App.js"></script>
  <script type="module" src="/js/AbstractView.js"></script>
  <script type="module" src="/component/menu/menu.js"></script>
  <script type="module" src="/component/toolbar/toolbar.js"></script>
</body>

</html>